form{
   

    width: 70%;
  
    height: 100%;
    /* align-items: center;
    background-color: aqua; */
}
div{
    margin-bottom: 1%;
}

.container{
    padding-top: 15%;
    width: 70%;
    height: 100%;
   /* margin: 0 auto;
    align-items: center; */
   
}